---
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
ColumnLimit: 90

AlignArrayOfStructures: Left
AlignConsecutiveAssignments: true

UseTab: Never
BraceWrapping:
  AfterClass: true
  AfterControlStatement: false
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: false
  SplitEmptyNamespace: true
